.root {
  -fx-background-color: #002b36;
}
#button {
  -fx-background-color: #ff5400;
}
#label {
  -fx-text-fill: #b58900;
}
#profile {
  -fx-background-color: #ffffff;
}
#node {
  -fx-text-fill: #b58900;
  -fx-background-color: #073642;
}
#maintl {
  -fx-opacity: 1;
  -fx-background-color: #002b36;
}
.list-cell:selected {
  -fx-background-color: #cb4b16;
}
.list-cell:focused {
  -fx-border-color: #6c71c4;
}
.list-cell:focus {
  -fx-border-color: #6c71c4;
}
#mentions {
  -fx-border-color: #cb4b16;
}
